{% extends 'moviedetails/base.html' %}
{% block title %}
    Search Movie
{% endblock title %}
{% block main %}
    <h1>Search Movies</h1>
    <form action="" method="post" class="form-inline mt-5">
        {% csrf_token %}
        <div class="form-group mb-2 mr-3">
            <input type="text" name="q" placeholder="Movie Name" class="form-control" autofocus>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    <script>
        let home = document.querySelector("#home");
        console.log(home);
        home.classList.add("active");
    </script>
    
{% endblock main %}
